.footer {
  width: 100vw;
  max-width: 100%;
  height: 55px;
  display: flex;
  justify-content: space-between;
  background-color: #0067A3;
  color: #fff;
	align-items: center; 
}

.footer p {
  margin: 17px;
}

.tasks_statistics {
  display: flex;
}

.copy {
	margin-left: auto;
  margin-right: 30px;
}

@media screen and (max-width: 500px) {
  .footer {
    display: none;
  }
}
